.contact-form {
    height: 100vh;
    width: 100%;
    background: url('/img/BGFooter.jpg') no-repeat center top/cover;
    position: relative;
    overflow: hidden;
}


.contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
}

#contact-us-left {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 185px;
    padding-top: 286px;
    h2 {
        padding-bottom: 90px;
    }

    h1 {
        padding-bottom: 30px;
    }

    p {
        width: 580px;
        padding-bottom: 90px
    }
}
#contact-us-right {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#form-cta {
    justify-self: baseline;
    width: 280px;
    height: 56px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    font-size: 0.875rem;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
}

#form-cta:before {
    content:"→";
    text-align: center;
    margin: auto;
    position:absolute;
    color:#ffffff;
    left: 10000px;
    opacity: 0;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
}
#form-cta:hover:before{
    left:91%;
    opacity:1;
  }
  
  #form-cta:hover {
    border: 0px;
    transform: scale(1.04,1.04);
    -webkit-transform: scale(1.04,1.04);
    transition: border 0.3s ease-out;
    transition: transform 250ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -webkit-transition: border 0.3s ease-out;
    -webkit-transition: transform 250ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
  }

  @media screen and (max-width:   820px) {
    #contact-us-left {
        padding-left: 25px;
        padding-top: 179px;
        padding-right: 25px;
    }
    #contact-us-left p {
        flex-wrap: wrap;
        width: 100%;
    }
  }

  @media screen and (max-width: 450px) {
    #contact-us-left p {
        padding-bottom: 45px;
  }
  #contact-us-left span {
      font-size: 1.5rem;
  }
}

